.footer {
    background-color: #202831;
    color: white;
    font-family: Arial, sans-serif;
    padding: 10px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    margin-right: 40px;
}

.footer-section h4 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.footer-section p,
.footer-section ul {
    margin: 0 0 10px;
    line-height: 1.5;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-social {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
}

.footer-social h4 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.footer-social img {
    height: 3vmax;
    width: 3vmax;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9rem;
}